@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --clr-dropShadow: rgb(139, 157, 162, 0.5);
}

body {
  font-family: Raleway, sans-serif;
  margin: 0;
  text-align: center;
  background: rgb(255, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.5) 0%,
    rgba(255, 0, 0, 0.5) 50%,
    rgba(50, 50, 50, 0.5) 50%,
    rgba(50, 50, 50, 0.5) 55%,
    rgba(255, 255, 255, 1) 55%,
    rgba(255, 255, 255, 1) 100%
  );
  height: 100svh;
}

button {
  border: none;
  padding: 1rem 2rem;
  border-radius: 10px;
  background-color: rgba(50, 50, 50, 1);
  color: white;
  font-weight: 800;
}

button:hover {
  background-color: rgb(95, 95, 95, 1);
  outline: solid 0.25em rgba(95, 95, 95, 1);
}

#root {
  display: grid;
  justify-items: center;
  gap: min(35px, 10%);
}

.gameBoard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 1rem;
  width: min(70%, 650px);
}
.card {
  aspect-ratio: 1;
  border-radius: 10px;
  background: white;
  border: solid 0.25em red;
  display: grid;
  place-items: center;
  box-shadow: 5px 5px 5px var(--clr-dropShadow);
  position: relative;
  transition: all ease-in-out 0.2s;
}

.card:hover {
  outline: solid 0.25em red;
}

.front {
  position: absolute;
  transform: rotateY(90deg);
  transition: all ease-in-out 2s;
  border-radius: 10px;
  background: rgb(4, 240, 78);
  background: linear-gradient(
    0deg,
    rgb(73, 206, 115) 54%,
    rgba(4, 240, 237, 1) 60%,
    rgba(4, 155, 240, 1) 91%
  );
}

.flipped .front {
  transform: rotateY(0deg);
  transition-delay: 2s;
}

.back {
  height: 96px;
}
