@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --clr-dropShadow: rgba(89, 102, 105, 0.5);
}

body {
  font-family: Raleway, sans-serif;
  margin: 0;
  text-align: center;
  background: rgb(255, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.5) 0%,
    rgba(255, 0, 0, 0.5) 50%,
    rgba(50, 50, 50, 0.5) 50%,
    rgba(50, 50, 50, 0.5) 55%,
    rgba(255, 255, 255, 1) 55%,
    rgba(255, 255, 255, 1) 100%
  );
  height: 100svh;
}

button {
  border: none;
  padding: 1rem 2rem;
  border-radius: 10px;
  background-color: rgba(50, 50, 50, 1);
  color: white;
  font-weight: 800;
}

button:hover {
  background-color: rgb(95, 95, 95, 1);
  outline: solid 0.25em rgba(95, 95, 95, 1);
}

#root {
  display: grid;
  justify-items: center;
  gap: min(35px, 10%);
}

.gameBoard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 1rem;
  width: min(70%, 650px);
}
.card {
  aspect-ratio: 1;
  border-radius: 50%;
  background: white;
  border: solid 0.25em red;
  display: grid;
  place-items: center;
  box-shadow: 5px 5px 5px var(--clr-dropShadow);
  position: relative;
  transition: all ease-in-out 0.1s;
}

.card::after {
  content: ' ';
  width: 100%;
  aspect-ratio: 1;
  position: absolute;
  border-radius: 50%;
  mix-blend-mode: color-dodge;
  background: rgb(148,187,233);
  background: linear-gradient(30deg, rgba(148,187,233,1) 0%, rgba(152,185,232,0.8688068977591037) 31%, rgba(156,183,231,0.4178265056022409) 47%, rgba(190,171,225,1) 80%, rgba(230,156,218,1) 100%);
  opacity: .6;
}

.card:hover {
  outline: solid 0.25em red;
  /* transform: rotate(-20deg) rotateY(20deg) rotateX(20deg); */
  /* transform: rotate(var(--rotateX)); */
  /* transform: rotate(-20deg); */
}

.front {
  position: absolute;
  transform: rotateY(90deg);
  transition: all ease-in-out 2s;
  border-radius: 10px;

}

.flipped .front {
  transform: rotateY(0deg);
  transition-delay: 2s;
}

.flipped .back {
  transform: rotateY(90deg);
  transition-delay: 2s;
}

.back {
  height: 140px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: rgb(255,0,0);
background: linear-gradient(199deg, rgba(255,0,0,1) 0%, rgba(255,0,0,1) 48%, rgb(106, 106, 106) 48%, rgba(150,150,150,1) 55%, rgba(255,255,255,1) 55%, rgba(255,255,255,1) 100%);
  display: grid;
  place-items: center;
}

.pokeBtn {
  width: 40px;
  aspect-ratio: 1;
  /* background: grey; */
  border-radius: 50%;
  border: solid #7c7c7c;
  background: rgb(166,166,166);
background: radial-gradient(circle, rgba(166,166,166,1) 0%, rgba(166,166,166,1) 31%, rgba(85,85,85,1) 31%, rgba(85,85,85,1) 44%, rgba(166,166,166,1) 44%, rgba(166,166,166,1) 72%, rgba(80,80,80,1) 72%, rgba(80,80,80,1) 72%);
}
