@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --clr-dropShadow: rgb(139, 157, 162, 0.5);
}

body {
  font-family: Raleway, sans-serif;
  margin: 0;
  text-align: center;
}

#root {
  display: grid;
  justify-items: center;
  gap: min(35px, 10%);
}

.gameBoard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 1rem;
  width: min(70%, 650px);
}
.card {
  aspect-ratio: 1;
  border-radius: 10px;
  background: white;
  border: solid 0.25em red;
  display: grid;
  place-items: center;
  box-shadow: 5px 5px 5px var(--clr-dropShadow);
  position: relative;
}

.front {
  position: absolute;
  transform: rotateY(90deg);
  transition: all ease-in-out 2s;
  border-radius: 10px;
  background: rgb(4, 240, 78);
  background: linear-gradient(
    0deg,
    rgb(73, 206, 115) 54%,
    rgba(4, 240, 237, 1) 60%,
    rgba(4, 155, 240, 1) 91%
  );
}

.flipped .front {
  transform: rotateY(0deg);
  transition-delay: 2s;
}

.back {
  height: 96px;
}
